<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title> Login page </title>
  </head>
  <body class="login">
    <h2 class="title">Gambling Site</h2>
    <div class="page">
      <form class="cred_holder login_form" action="/dashboard" method="get">
        <h4>Enter username and password</h4>

        <div class="error">
          <% if session[:credMsg] %>
          <%= session[:credMsg] %>
          <%session[:credMsg] = nil %>
          <% end %>
        </div>


        <div class="credentials usn">
          <label for="#username">Username: </label>
          <input class="input" type="text" name="username" id="username" value="<%= session[:username] %>">
          <!-- name should be same as the params[ :"key"] key value in app.rb file-->

        </div>
        <div class="credentials pwd">

          <label for="#password">Password: </label>
          <input class="input" type="password" name="password" id="password" value="<%= session[:password] %>">
        </div>
        <a href="./dashboard" >
          <input class="button login_btn" type="submit"  name="Login" value="Login">
         </a>
      </form>

    </div>




  </body>
</html>
